<div [class]="(isMobile)?'listGralMobile':'listGral'">
	<div class="row ml-2 mr-2 w-90">
	    <table class="table table-bordered table-hover bg-white">
	       <!-- standard page table -->
	       <!-- mobile page table -->
	       <thead class="thead-light" *ngIf="movies && movies.length>0"> 
	        <tr>             
	            <th [width]="(isMobile)?'20%':'40%'" scope="col">Poster</th>
	            <th [width]="(isMobile)?'80%':'60%'" scope="col">Details</th>	           
	        </tr>
	      </thead>
	      <!-- standard page table -->
	      <tbody>
	        <tr *ngFor="let movie of movies">
	            <th scope="col"><img src="{{movie.Poster}}" [class]="(isMobile)?'smallImg':'bigImg'"></th>
	            <th scope="row"><a href="javascript:void" routerLink="/detail/{{movie.imdbID}}"><span [class]="(isMobile)?'h5':'h3'">{{movie.Title}}</span></a><br>
	            			<span class="h5 mr-2">Year:</span>
	            			<span>{{movie.Year}}</span><br>
	            			<span class="h5 mr-2">imdbID:</span>
	            			<span>{{movie.imdbID}}</span><br><br>
	            			<span><a class="blackLink" routerLink="/detail/{{movie.imdbID}}">See more</a></span><br>
			    </th>	           
	        </tr>
	         <tr *ngIf="movies && movies.length<1"><td  colspan="2">No results!</td></tr>
	      </tbody>
	    </table>  
	</div> 
	<nav aria-label="..." *ngIf="movies && total>10" class="d-flex justify-content-center mt-2">
    <ngb-pagination [collectionSize]="total" pageSize="10" [(page)]="currentPage" [maxSize]="isMobile?5:10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
  </nav>
  <hr>
 </div>

