<div class="container">
    <div class="row">
	      <app-navigation></app-navigation> 	      
	</div>
	<div id="content" *ngIf="movie" class="flex-column justify-content-end mt-8">
		<div class="card detailCard w-85">
		  <div class="card-header text-center">
		    <span class="h3">{{movie.Title}} ({{movie.Year}})</span>
		    <button class="btn" (click)="addToFavorites()"><i [class]="movie.isFavorite?'fa fa-heart':'far fa-heart'" aria-hidden="true"></i></button>{{movie.isFavorite?'Remove from favorites':'Add to favorites'}}
		  </div>
		  <div class="card-body">
		  	<div class="row">
			  	<div class="col-lg-3 col-sm-12">
			  		<img  [src]="movie.Poster" [class]="(isMobile)?'smallImg':'bigImg'" width="200" height="auto">
			  	</div>
			  	<div class="col-lg-9 col-sm-12">
				  	 <div class="container mt-2 mb-2">
			        	 <span class="h3">General information</span>
			        </div>
				  	<p>
			   			<span class="h5 mr-2">Genre:</span>
		       			<span>{{movie.Genre}}</span><br>
		       			<span class="h5 mr-2">Duration:</span>
		       			<span>{{movie.Runtime}}</span><br>
		       			<span class="h5 mr-2">Production:</span>
		       			<span>{{movie.Production}}</span><br>
		       			<span class="h5 mr-2">Released:</span>
		           		<span>{{movie.Released}}</span><br>
		           		<span class="h5 mr-2">Director:</span>
		           		<span>{{movie.Director}}</span><br>
		           		<span class="h5 mr-2">Actors:</span>
		           		<span>{{movie.Actors}}</span><br>				
		           		<span class="h5 mr-2">Language:</span>
		           		<span>{{movie.Language}}</span><br>
		           		<span class="h5 mr-2">Awards:</span>
		           		<span>{{movie.Awards}}</span><br>
		           		<span class="h5 mr-2">Website:</span>
		           		<span>{{movie.Website}}</span><br>
		           		<span class="h5 mr-2">Box Office:</span>
		           		<span>{{movie.BoxOffice}}</span>		       
			        </p>
			    </div>
			</div>
	        <p class="mt-2">
	       		<span class="h5">Plot:</span><br>
	       		<span>{{movie.Plot}}</span>
	        </p>
	        <div class="container mt-2 mb-2">
	        	 <span class="h3">Ratings</span>
	        </div>
			
	       		<span class="h5 mr-2">Metascore:</span>
	       		<span>{{movie.Metascore}}</span>
	       		<div *ngFor="let item of movie.Ratings">
	       			<span class="h5 mr-2">{{item.Source}}:</span>
	       			<span>{{item.Value}}</span><br>
	       		</div>
	        
	         <div class="container mt-2 mb-2">
	         <span class="h3">IMDB Info</span>
	        </div>
	        <p class="mt-2">
	           		<span class="h5 mr-2">imdbID:</span>
	           		<span>{{movie.imdbID}}</span><br>
	           		<span class="h5 mr-2">imdb Rating:</span>
	           		<span>{{movie.imdbRating}}</span><br>
	           		<span class="h5 mr-2">imdb Votes:</span>
	           		<span>{{movie.imdbVotes}}</span><br>
	           		<span class="h5 mr-2">Launch DVD:</span>
	           		<span>{{movie.DVD}}</span>
	       		</p>
		  </div>
		</div>
	</div>		
</div>
