<div class="container">
    <div class="row">
	      <app-navigation></app-navigation> 	      
	</div>
	<div class="row mt-4">
		<app-search></app-search>
	</div>
	<div class="row mt-4">
		<!-- <app-detail *ngIf="movie" [movie]="movie"></app-detail> -->
		<app-movielist></app-movielist>
	</div>
</div> 

