<div class="container">
    <div class="d-flex flex-row justify-content-center">
	    <div> 
	      <form class="form-signin">
	        <img class="mb-4" src="assets/images/cine-icono2.jpg" alt="Cine" width="auto">
	        <p class="h3 text-center mb-4">For cinema lovers !</p>
	        <input type="email" [(ngModel)]="email"  id="inputEmail" class="form-control" name="email" placeholder="Email" required autofocus >
	        <br>
	        <div *ngIf="!recovery">	   
	            <input type="password" [(ngModel)]="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required >
		    </div>
		    <span class="text-warning">{{askforpassword}}</span><br>
	        <div class="d-flex justify-content-center mb-4">
	            <p><small class="text-center text-danger mr-2">{{loginerror}}</small></p>
	            <p><small *ngIf="!recovery"><a href="javascript:void(0)" class="text-warning" (click)="askForPass()">Forgot password?</a></small></p>
	        </div> 
	        <button class="btn btn-lg btn-secondary btn-block" type="submit" (click)="loginUser()">{{label}}</button>
	      </form>
	    </div>
	</div>
</div>
