<div class="d-flex w-100 searchBar justify-content-center">
	<div>
      <form class="flex-row form-inline">
      	<label class="h3 mr-2">Search by title</label>
        <input class="form-control" type="text" name="kw" placeholder="Buscar" [(ngModel)]="keyword">
      	<button class="btn-sm btn-secondary my-2 my-sm-0" (click)="gralSearch()"><i class="fas fa-search"></i></button>
      </form>
	<br><span class="text-danger">{{gralerror}}</span>
    </div>
</div>


  