/* You can add global styles to this file, and also import other style files */
.c-loader{
	background-color:rgba(144,164,174,0.9);
	position:fixed;
	z-index:999;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	align-items:center;
	justify-content:center;
	visibility:hidden;
	opacity:0;transition:all 0.15s ease 0s
}
.c-loader.is-visible{visibility:visible;opacity:1}
.c-loader.is-visible .c-loader__icon{opacity:1}
.c-loader.is-visible .c-loader__text{opacity:1;transform:translateY(0)}
.c-loader__icon{
	display:block;
	width:48px;
	margin-right:auto;
	margin-left:auto;
	opacity:0;
	transition:opacity 0.2s ease 0.1s;
	animation:loader 1s linear infinite
}
.c-loader__text{
	display:block;
	max-width:250px;
	margin-top:20px;
	color:rgba(255,255,255,0.7);
	text-align:center;
	opacity:0;
	transform:translateY(10px);
	transition:all 0.4s ease 0.1s
}
.c-loader__block{
	display:block;
}
.searchBar{
	position: absolute;
	top:130px;
}
.detailCard{
	position: absolute;
	top:130px;
	left:0;
}
.listGral{
	position: absolute;
	top:180px;
	left:15%;
}
.listGralMobile{
	position: absolute;
	top:230px;
	left:0;
}
.is-visible{
	display: block;
}
.blackLink{
	color: grey;
	text-decoration: underline;
}
.bigImg{
	max-width: 200px;
	max-height: auto;
}
.smallImg{
	max-width: 100px;
	max-height: auto;
}
@keyframes loader{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}