<div class="container">
    <div class="row">
	      <app-navigation></app-navigation> 	      
	</div>
	<div class="row mt-4 listGral">
	    <table class="table table-bordered table-hover bg-white" id="profListContainer">
	       <!-- standard page table -->
	       <!-- mobile page table -->
	       <thead class="thead-light"> 
	        <tr>             
	            <th width="40%" scope="col">Poster</th>
	            <th width="55%" scope="col">Details</th>
	            <th width="5%" scope="col"></th>
	        </tr>
	      </thead>
	      <!-- standard page table -->
	      <tbody>
	        <tr *ngFor="let movie of favorites">
	            <th scope="col"><img src="{{movie.Poster}}" [class]="(isMobile)?'smallImg':'bigImg'"></th>
	            <th scope="row"><a href="javascript:void" routerLink="/detail/{{movie.imdbID}}"><span class="h3">{{movie.Title}}</span></a><br>
	            			<span class="h5 mr-2">Year:</span>
	            			<span>{{movie.Year}}</span><br>
	            			<span class="h5 mr-2">Genre:</span>
	            			<span>{{movie.Genre}}</span><br>
			       			<span class="h5 mr-2">Duration:</span>
			       			<span>{{movie.Runtime}}</span><br>
			       			<span class="h5 mr-2">Production:</span>
			       			<span>{{movie.Production}}</span><br>			       			
			           		<span class="h5 mr-2">Director:</span>
			           		<span>{{movie.Director}}</span><br>
			           		<span class="h5 mr-2">Actors:</span>
			           		<span>{{movie.Actors}}</span><br>							           		
			    </th>
	            <td><button class="btn-sm btn-secondary my-2 my-sm-0" (click)="deleteFromList(movie.imdbID)"><i class="fas fa-trash"></i></button></td>
	        </tr>
	         <tr *ngIf="favorites.length<1"><td  colspan="8">No favorites stored</td></tr>
	      </tbody>
	    </table>  
	</div> 
 </div>
