<nav class="navigation-wrapper navbar navbar-expand-lg navbar-dark fixed-top flex-column autoHideNav bg-dark" id="mainNav" [style.height]="height">
    <div class="container" id="mainContainer">
        <img class="mb-4" src="assets/images/cine-icono3.jpg" alt="Cine" width="100" height="auto">
        <span class="h5 ml-2 text-white"> Welcome {{user.Username}} !</span>
        <button *ngIf="showNav" class="navbar-toggler navbar-toggler-right" (click)="menuIsCollapsed = !menuIsCollapsed" aria-controls="navbarResponsive"  [attr.aria-expanded]="!menuIsCollapsed" aria-label="Toggle Navigation" (click)="makeRoom()">Menu&nbsp;<i class="fa fa-bars"></i></button>
       
        <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="menuIsCollapsed">
            <ul class="navbar-nav text-uppercase ml-auto" >
               <li class="nav-item" ><a class="nav-link js-scroll-trigger" href="javascript:void(0)" routerLink="/home" (click)="menuIsCollapsed = true">SEARCH</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="javascript:void(0)" routerLink="/favorites" (click)="menuIsCollapsed = true">FAVORITES</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="javascript:void(0)" routerLink="" (click)="menuIsCollapsed = true">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>
